<a href="https://colab.research.google.com/github/nadilajm/DPP-11/blob/main/sesi_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as mt
import pandas as pd

In [ ]:
df = pd.read_csv('/data_mobil.csv') # read csv dengan library pandas
df # untuk menampilkan data

,Merk,Brand,Transmisi,cc,km,tahun,harga,harga_juta
0,Toyota Kijang Innova,1,1,1998,71500,2018,265000000,265.0
1,Toyota Sienta,1,1,1497,90000,2016,172000000,172.0
2,Toyota Fortuner,1,1,2393,15000,2021,575000000,575.0
3,Toyota Fortuner,1,1,2393,75000,2016,385000000,385.0
4,Toyota Harrier,1,1,1986,65000,2015,569000000,569.0
5,Toyota Camry Hybrid Sedan,1,1,2487,6000,2021,750000000,750.0
6,Toyota Alphard,1,1,2494,25000,2020,1200000000,1200.0
7,Toyota Avanza,1,1,1496,70000,2017,177000000,177.0
8,Toyota Yaris,1,1,1496,25000,2018,261000000,261.0
9,Toyota Camry,1,1,2494,25000,2019,551000000,551.0
10,Toyota Avanza,1,1,1496,100000,2016,142000000,142.0
11,Toyota Vios,1,1,1496,65000,2018,206000000,206.0
12,Toyota Camry,1,1,2494,93000,2013,190000000,190.0
13,Toyota Kijang Innova,1,1,1998,6900,2018,299800000,299.8
14,Toyota Fortuner,1,1,2494,200000,2009,200000000,200.0
15,Toyota Vios,1,1,1497,125000,2014,144000000,144.0
16,Toyota Avanza,1,1,1496,40000,2019,199000000,199.0
17,Toyota Avanza,1,1,1496,15000,2021,238000000,238.0
18,Toyota Calya,1,1,1197,25000,2019,138000000,138.0
19,Toyota Avanza,1,1,1496,20000,2021,230000000,230.0
20,Toyota Avanza,1,1,1496,110000,2017,153000000,153.0
21,Toyota Avanza,1,1,1496,110000,2014,115000000,115.0
22,Toyota Kijang Innova,1,0,1998,155000,2011,180000000,180.0
23,Toyota Kijang Innova,1,0,1998,155000,2008,125000000,125.0
24,Toyota Kijang Innova,1,1,1998,40000,2015,285000000,285.0
25,Toyota Kijang Innova,1,1,1998,20000,2019,330000000,330.0
26,Toyota Avanza,1,1,1496,25000,2018,185000000,185.0
27,Toyota Avanza,1,1,1496,63010,2019,190000000,190.0
28,Toyota Avanza,1,0,1496,115000,2016,147500000,147.5
29,Toyota Calya,1,1,1197,75000,2018,122000000,122.0
30,Toyota Vios,1,1,1496,110000,2009,90000000,90.0
31,Toyota Yaris,1,1,1496,46149,2018,231000000,231.0
32,Toyota Avanza,1,1,1496,202147,2011,94000000,94.0
33,Toyota Avanza,1,1,1496,15000,2021,290000000,290.0
34,Toyota Rush,1,0,1496,45000,2015,168000000,168.0
35,Toyota Avanza,1,1,1496,135000,2012,118000000,118.0
36,Toyota Agya,1,1,1197,36959,2019,136000000,136.0
37,Toyota Voxy,1,1,2494,45000,2017,381000000,381.0
38,Toyota Rush,1,1,1496,55000,2019,225000000,225.0
39,Toyota Yaris,1,1,1496,145000,2012,125000000,125.0
40,Toyota Vios,1,1,1496,65000,2018,206000000,206.0
41,Toyota Yaris,1,1,1496,35000,2018,227000000,227.0
42,Toyota Avanza,1,1,1496,100000,2016,152000000,152.0
43,Toyota Avanza,1,1,1496,10000,2018,199000000,199.0
44,Toyota Agya,1,1,998,75000,2016,109000000,109.0
45,Toyota Avanza,1,0,1296,200000,2013,50000000,50.0
46,Toyota Corolla,1,0,1597,220000,1990,50000000,50.0
47,Toyota Vios,1,1,1496,170000,2010,100000000,100.0
48,Toyota Calya,1,1,1197,80000,2017,100000000,100.0
49,Toyota Avanza,1,1,1497,70000,2015,150000000,150.0
50,Toyota Rush,1,1,1497,55000,2018,200000000,200.0
51,Toyota Corolla Sedan,1,1,1797,80000,2015,200000000,200.0
52,Toyota Corolla Sedan,1,1,1797,60000,2018,250000000,250.0